<!DOCTYPE html>
<html>
  <head>
    <title>The Emacsmirror! {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="author"      content="Jonas Bernoulli <jonas@bernoul.li>">
    <meta name="description" content="The Emacsmirror">
    <meta name="keywords"    content="emacs, git, package">
    <meta name="flattr:id"   content="8dxrrl">
    <link rel="icon" href="/assets/emacsmirror.ico">
    <!--<link rel="stylesheet" type="text/css" href="/assets/font.css">-->
    <link rel="stylesheet" type="text/css" href="/assets/page.css">
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/manual">Documentation</a>
      <a href="/stats">Statistics</a>
      <a href="https://github.com/emacsmirror">Github</a>
      <a href="https://magit.vc/donate/">Donate</a>
      <a href="https://emacsair.me">Blog</a>
      <a href="https://twitter.com/magit_emacs">Twitter</a>
    </nav>
    <header>
    {% if page.title %}
      <h1>{{ page.title }}</h1>
    {% else %}
      <h1>The Emacsmirror</h1>
    {% endif %}
    </header>
{{ content }}
  </body>
</html>
